/* Beaudryland Block Graphics */
/* Block Types */
/*players		"player",
/*enemies		"enemy",
/*animals		"deer"
/*forest map	"grass", "dirt", "water", "tree", "rock", "hole",
/*winter map  	"snow", "frozendirt", "ice", "pinetree", "icerock", "snowhole",
/*beach map  	"sand", "wetsand", "wave", "palmtree", "sandstone", "sandhole",
/*items     	"shovel", "wood", "fire", "door", "door-open", "frisbee", "sign",
/*weapons		"sword", "spear", "axe",
/*instruments 	"guitar", "piano",
/*transport		"bike", "skiis", "canoe", "car", "rocket",
/*treasure  	"diamond", "gold", "silver", "oil", "clay",
/*holes			"diamond-hole", "gold-hole", "silver-hole", "oil-hole", "clay-hole",
/*blocks     	"rockbrick", "icerockbrick", "sandstonebrick", "claybrick", "road"

/* COLORS */
/* THE BLOCKS */
.block {
  float: left;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  /*border: solid #000; border-width: 0 1px 1px 0;*/
}
.block {
  background-size: contain !important;
}
/* map backgrounds */
.the-fucking-map {
  background: #36ac2a;
}
.the-fucking-winter-map {
  background: #f5fdff;
}
.the-fucking-beach-map {
  background: #d9cfa2;
}
.the-fucking-space-map {
  background: #000;
}
/* forest map */
.block-dirt {
  background: #6a4107 url(../img/block-dirt.png) no-repeat;
}
.block-grass {
  background: #36ac2a url(../img/block-grass.png) no-repeat;
}
.block-water {
  background: #00a2ff url(../img/block-water.png) no-repeat;
}
.block-tree {
  background: url(../img/block-tree.png) no-repeat;
}
.block-wood {
  background: #916d33 url(../img/block-wood.png) no-repeat;
}
.block-rock {
  background: url(../img/block-rock.png) no-repeat;
}
.block-hole {
  background: #36ac2a url(../img/block-hole.png) no-repeat;
}
/* winter map */
.block-snow {
  background: #f5fdff url(../img/block-snow.png) no-repeat;
}
.block-ice {
  background: #f5fdff url(../img/block-ice.png) no-repeat;
}
.block-pinetree {
  background: url(../img/block-pinetree.png) no-repeat;
}
.block-icerock {
  background: url(../img/block-icerock.png) no-repeat;
}
.block-frozendirt {
  background: #f5fdff url(../img/block-frozendirt.png) no-repeat;
}
.block-snowhole {
  background: #f5fdff url(../img/block-snowhole.png) no-repeat;
}
/* beach map */
.block-sand {
  background: #d9cfa2 url(../img/block-sand.png) no-repeat;
}
.block-sandstone {
  background: url(../img/block-sandstone.png) no-repeat;
}
.block-sandhole {
  background: #d9cfa2 url(../img/block-sandhole.png) no-repeat;
}
.block-wetsand {
  background: #d9cfa2 url(../img/block-wetsand.png) no-repeat;
}
.block-wave {
  background: #00a2ff url(../img/block-wave.png) no-repeat;
}
.block-palmtree {
  background: url(../img/block-palmtree.png) no-repeat;
}
/* space map */
.block-space {
  background: url(../img/block-space.png) no-repeat;
}
.block-star {
  background: url(../img/block-star.png) no-repeat;
}
.block-bluegalaxy {
  background: url(../img/block-bluegalaxy.png) no-repeat;
}
.block-redgalaxy {
  background: url(../img/block-redgalaxy.png) no-repeat;
}
.block-earth {
  background: url(../img/block-earth.png) no-repeat;
}
.block-sun {
  background: url(../img/block-sun.png) no-repeat;
}
/* treasure */
.block-clay-hole {
  background: url(../img/block-clay-hole.png) no-repeat;
}
.block-clay {
  background: url(../img/block-clay.png) no-repeat;
}
.block-oil-hole {
  background: url(../img/block-oil-hole.png) no-repeat;
}
.block-oil {
  background: url(../img/block-oil.png) no-repeat;
}
.block-diamond-hole {
  background: url(../img/block-diamond-hole.png) no-repeat;
}
.block-diamond {
  background: url(../img/block-diamond.png) no-repeat;
}
.block-gold-hole {
  background: url(../img/block-gold-hole.png) no-repeat;
}
.block-gold {
  background: url(../img/block-gold.png) no-repeat;
}
.block-silver-hole {
  background: url(../img/block-silver-hole.png) no-repeat;
}
.block-silver {
  background: url(../img/block-silver.png) no-repeat;
}
/* items */
.block-shovel {
  background: #dddddd url(../img/item-shovel.png) no-repeat;
}
.block-sword {
  background: #dddddd url(../img/item-sword.png) no-repeat;
}
.block-fire {
  background: url(../img/item-fire-3.gif) no-repeat;
}
.block-door,
.block-door-closed {
  background: url(../img/item-door-closed.png) no-repeat;
}
.block-door-open {
  background: #36ac2a url(../img/item-door-open.png) no-repeat;
}
.block-sign {
  background: url(../img/item-sign.png) no-repeat;
}
.block-axe {
  background: url(../img/item-axe.png) no-repeat;
}
/* technology */
.block-telescope {
  background: url(../img/item-telescope.png) no-repeat;
}
.block-computer {
  background: url(../img/item-computer.gif) no-repeat;
}
.block-2dprinter {
  background: url(../img/item-2dprinter.png) no-repeat;
}
/* musical instruments */
.block-guitar {
  background: url(../img/item-guitar.png) no-repeat;
}
.block-piano {
  background: url(../img/item-piano.png) no-repeat;
}
.block-bassdrum {
  background: url(../img/item-bassdrum.png) no-repeat;
}
.block-snare {
  background: url(../img/item-snare.png) no-repeat;
}
.block-tom {
  background: url(../img/item-tom.png) no-repeat;
}
.block-hihat {
  background: url(../img/item-hihat.png) no-repeat;
}
.block-cymbal {
  background: url(../img/item-cymbal.png) no-repeat;
}
/* furniture */
.block-table {
  background: url(../img/item-table.png) no-repeat;
}
.block-chair {
  background: url(../img/item-chair.png) no-repeat;
}
.block-chest {
  background: url(../img/item-chest.png) no-repeat;
}
.block-bed {
  background: url(../img/item-bed.png) no-repeat;
}
.block-toilet {
  background: url(../img/item-toilet.png) no-repeat;
}
.block-sink {
  background: url(../img/item-sink.png) no-repeat;
}
.block-bathtub {
  background: url(../img/item-bathtub.png) no-repeat;
}
/* transportation */
.block-skiis {
  background: #f5fdff url(../img/item-skiis.png) no-repeat;
}
.block-bike {
  background: #f5fdff url(../img/item-bike.png) no-repeat;
}
.block-car {
  background: url(../img/item-car.png) no-repeat;
}
.block-canoe {
  background: url(../img/item-canoe.png) no-repeat;
}
.block-rocket {
  background: url(../img/item-rocket.png) no-repeat;
}
/* projectiles */
.block-frisbee {
  background: #dddddd url(../img/item-frisbee.png) no-repeat;
  background-size: contain;
}
.the-fucking-frisbee {
  width: 20px;
  height: 20px;
  position: relative;
  margin-top: -20px;
  background: url(../img/item-frisbee.gif) no-repeat;
  background-size: contain;
}
.block-spear {
  background: url(../img/item-spear.png) no-repeat;
}
.the-fucking-spear {
  width: 20px;
  height: 20px;
  position: relative;
  margin-top: -20px;
  background: url(../img/item-spear.png) no-repeat;
  background-size: contain;
}
.spear-direction-up {
  background-image: url(../img/item-spear-up.png);
}
.spear-direction-down {
  background-image: url(../img/item-spear-down.png);
}
.spear-direction-left {
  background-image: url(../img/item-spear-left.png);
}
.spear-direction-right {
  background-image: url(../img/item-spear-right.png);
}
/* building blocks */
.block-rockbrick {
  background: url(../img/block-rockbrick.png) no-repeat;
}
.block-icerockbrick {
  background: url(../img/block-icerockbrick.png) no-repeat;
}
.block-sandstonebrick {
  background: url(../img/block-sandstonebrick.png) no-repeat;
}
.block-claybrick {
  background: url(../img/block-claybrick.png) no-repeat;
}
.block-road {
  background: url(../img/block-road.png) no-repeat;
}
/* animations */
.block-bluegalaxy {
  -webkit-animation: spin 40s linear infinite;
}
.block-redgalaxy {
  -webkit-animation: spin 40s linear infinite;
}
.block-earth {
  -webkit-animation: spin 20s linear infinite;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/* player animations */
.the-fucking-player {
  width: 20px;
  height: 20px;
  position: relative;
  left: 300px;
  top: 300px;
  background: url(../img/player-down.png) no-repeat;
  background-size: contain !important;
}
.player-direction-up {
  background: url(../img/player-up.png) no-repeat;
}
.player-direction-down {
  background: url(../img/player-down.png) no-repeat;
}
.player-direction-left {
  background: url(../img/player-left.png) no-repeat;
}
.player-direction-right {
  background: url(../img/player-right.png) no-repeat;
}
.player-direction-up-sword {
  background: url(../img/player-up-sword.png) no-repeat;
}
.player-direction-down-sword {
  background: url(../img/player-down-sword.png) no-repeat;
}
.player-direction-left-sword {
  background: url(../img/player-left-sword.png) no-repeat;
}
.player-direction-right-sword {
  background: url(../img/player-right-sword.png) no-repeat;
}
.player-direction-up-sword-swing {
  background: url(../img/player-up-sword-swing.png) no-repeat;
}
.player-direction-down-sword-swing {
  background: url(../img/player-down-sword-swing.png) no-repeat;
}
.player-direction-left-sword-swing {
  background: url(../img/player-left-sword-swing.png) no-repeat;
}
.player-direction-right-sword-swing {
  background: url(../img/player-right-sword-swing.png) no-repeat;
}
.player-direction-up-shovel {
  background: url(../img/player-up-shovel.png) no-repeat;
}
.player-direction-down-shovel {
  background: url(../img/player-down-shovel.png) no-repeat;
}
.player-direction-left-shovel {
  background: url(../img/player-left-shovel.png) no-repeat;
}
.player-direction-right-shovel {
  background: url(../img/player-right-shovel.png) no-repeat;
}
.player-direction-up-shovel-swing {
  background: url(../img/player-up-shovel-swing.png) no-repeat;
}
.player-direction-down-shovel-swing {
  background: url(../img/player-down-shovel-swing.png) no-repeat;
}
.player-direction-left-shovel-swing {
  background: url(../img/player-left-shovel-swing.png) no-repeat;
}
.player-direction-right-shovel-swing {
  background: url(../img/player-right-shovel-swing.png) no-repeat;
}
.player-direction-up-axe {
  background: url(../img/player-up-axe.png) no-repeat;
}
.player-direction-down-axe {
  background: url(../img/player-down-axe.png) no-repeat;
}
.player-direction-left-axe {
  background: url(../img/player-left-axe.png) no-repeat;
}
.player-direction-right-axe {
  background: url(../img/player-right-axe.png) no-repeat;
}
.player-direction-up-axe-swing {
  background: url(../img/player-up-axe-swing.png) no-repeat;
}
.player-direction-down-axe-swing {
  background: url(../img/player-down-axe-swing.png) no-repeat;
}
.player-direction-left-axe-swing {
  background: url(../img/player-left-axe-swing.png) no-repeat;
}
.player-direction-right-axe-swing {
  background: url(../img/player-right-axe-swing.png) no-repeat;
}
.player-direction-up-bike {
  background: url(../img/player-up-bike.png) no-repeat;
}
.player-direction-down-bike {
  background: url(../img/player-down-bike.png) no-repeat;
}
.player-direction-left-bike {
  background: url(../img/player-left-bike.png) no-repeat;
}
.player-direction-right-bike {
  background: url(../img/player-right-bike.png) no-repeat;
}
.player-direction-up-skiis {
  background: url(../img/player-up-skiis.png) no-repeat;
}
.player-direction-down-skiis {
  background: url(../img/player-down-skiis.png) no-repeat;
}
.player-direction-left-skiis {
  background: url(../img/player-left-skiis.png) no-repeat;
}
.player-direction-right-skiis {
  background: url(../img/player-right-skiis.png) no-repeat;
}
.player-direction-up-canoe {
  background: url(../img/player-up-canoe.png) no-repeat;
}
.player-direction-down-canoe {
  background: url(../img/player-down-canoe.png) no-repeat;
}
.player-direction-left-canoe {
  background: url(../img/player-left-canoe.png) no-repeat;
}
.player-direction-right-canoe {
  background: url(../img/player-right-canoe.png) no-repeat;
}
.player-direction-up-car {
  background: url(../img/player-up-car.png) no-repeat;
}
.player-direction-down-car {
  background: url(../img/player-down-car.png) no-repeat;
}
.player-direction-left-car {
  background: url(../img/player-left-car.png) no-repeat;
}
.player-direction-right-car {
  background: url(../img/player-right-car.png) no-repeat;
}
.player-direction-up-rocket {
  background: url(../img/player-up-rocket.png) no-repeat;
}
.player-direction-down-rocket {
  background: url(../img/player-down-rocket.png) no-repeat;
}
.player-direction-left-rocket {
  background: url(../img/player-left-rocket.png) no-repeat;
}
.player-direction-right-rocket {
  background: url(../img/player-right-rocket.png) no-repeat;
}
