@use 'sass:list';
@use 'sass:map';

$bui-c: (
	black: #000000,
	gray90: #282828,
	gray80: #3e3e3e,
	gray70: #525252,
	gray60: #6f6f6f,
	gray50: #959595,
	gray40: #bbbbbb,
	gray30: #dedede,
	gray20: #efefef,
	white: #ffffff,

	red100: #521700,
	red90: #712508,
	red80: #8e2e09,
	red70: #b63402,
	red60: #da3d00,
	red50: #fa694a,
	red40: #f88b75,
	red30: #f8a898,
	red20: #f8c5bb,
	red10: #f8e3e3,

	orange100: #613400,
	orange90: #794406,
	orange80: #a15906,
	orange70: #c26700,
	orange60: #d87300,
	orange50: #e08f33,
	orange40: #e29f53,
	orange30: #e3b989,
	orange20: #f3d1ab,
	orange10: #efe2d2,

	yellow100: #494202,
	yellow90: #6c6209,
	yellow80: #8e8313,
	yellow70: #bfb127,
	yellow60: #dcce33,
	yellow50: #e7db57,
	yellow40: #eee471,
	yellow30: #eae391,
	yellow20: #e8e5b9,
	yellow10: #eeebd2,

	green100: #0b4908,
	green90: #105e0c,
	green80: #15790f,
	green70: #1b9313,
	green60: #20bb19,
	green50: #37db2f,
	green40: #6ce267,
	green30: #9bee98,
	green20: #c0f6be,
	green10: #dffade,

	forest100: #063606,
	forest90: #0d450d,
	forest80: #135713,
	forest70: #297129,
	forest60: #398d39,
	forest50: #61a461,
	forest40: #75b475,
	/* grass */ forest30: #9ed29e,
	forest20: #bde0bd,
	forest10: #daeada,

	blue100: #01273e,
	blue90: #00395c,
	blue80: #014a78,
	blue70: #016caf,
	blue60: #0688d9,
	blue50: #329adb,
	blue40: #50a9e0,
	blue30: #8cc4e2,
	/* water */ blue20: #c6e4f5,
	blue10: #dbf2ff,

	cyan100: #003136,
	cyan90: #055258,
	cyan80: #076e76,
	cyan70: #0a8a93,
	cyan60: #0ea8b3,
	cyan50: #06c7d9,
	cyan40: #26d8e8,
	cyan30: #7ee6ef,
	cyan20: #b7eff5,
	cyan10: #daf4f6,

	purple100: #3a043d,
	purple90: #500553,
	purple80: #660d6a,
	purple70: #78147d,
	purple60: #922097,
	purple50: #a247a6,
	purple40: #b75fbb,
	purple30: #ca82cd,
	purple20: #e3ace5,
	purple10: #f4dcf5,

	pink100: #4c022c,
	pink90: #6f0642,
	pink80: #950b5a,
	pink70: #bf1073,
	pink60: #dc1586,
	pink50: #e3449e,
	pink40: #ec6eb5,
	pink30: #e79bc6,
	pink20: #f8bddf,
	pink10: #ffe5f5,

	brown100: #2b1b01,
	brown90: #472d01,
	brown80: #6a4200,
	brown70: #876831,
	brown60: #ac8643,
	brown50: #c5a13b,
	brown40: #dcbd64,
	brown30: #e3ce92,
	brown20: #e7dfb3,
	brown10: #eeead4,
);

@each $value in $bui-c {
	.bui-c-#{"" + list.nth($value, 1)} {
		background-color: list.nth($value, 2);
	}
}

@function bui-c($color) {
	@return map.get($bui-c, $color);
}

//background-color: bui-c(pink30);

/* TO DELETE VARIBLES BELOW */

$c-ground-grass: bui-c(forest40);
$c-ground-space: bui-c(black);
$c-ground-snow: bui-c(cyan10);
$c-ground-water: bui-c(blue30);
$c-ground-sand: bui-c(brown30);
$c-ground-dirt: bui-c(brown60);
$c-ground-ice: bui-c(cyan20);

$white: #fff;
$black: #000;
$grass-green: #36ac2a;
$snow-white: #f5fdff;
$sand: #d9cfa2;
