$bui-c: (	
	black: #000000,
	gray90: #282828,
	gray80: #3E3E3E,
	gray70: #525252,
	gray60: #6F6F6F,
	gray50: #959595,
	gray40: #BBBBBB,
	gray30: #DEDEDE,
	gray20: #EFEFEF,
	white: #FFFFFF,

	red100: #521700,
	red90: #712508,
	red80: #8E2E09,
	red70: #B63402,
	red60: #DA3D00,
	red50: #FA694A,
	red40: #F88B75,
	red30: #F8A898,
	red20: #F8C5BB,
	red10: #F8E3E3,

	orange100: #613400,
	orange90: #794406,
	orange80: #A15906,
	orange70: #C26700,
	orange60: #D87300,
	orange50: #E08F33,
	orange40: #E29F53,
	orange30: #E3B989,
	orange20: #F3D1AB,
	orange10: #EFE2D2,

	yellow100: #494202,
	yellow90: #6C6209,
	yellow80: #8E8313,
	yellow70: #BFB127,
	yellow60: #DCCE33,
	yellow50: #E7DB57,
	yellow40: #EEE471,
	yellow30: #EAE391,
	yellow20: #E8E5B9,
	yellow10: #EEEBD2,

	green100: #0B4908,
	green90: #105E0C,
	green80: #15790F,
	green70: #1B9313,
	green60: #20BB19,
	green50: #37DB2F,
	green40: #6CE267,
	green30: #9BEE98,
	green20: #C0F6BE,
	green10: #DFFADE,

	forest100: #063606,
	forest90: #0D450D,
	forest80: #135713,
	forest70: #297129,
	forest60: #398D39,
	forest50: #61A461,
	forest40: #75B475, /* grass */
	forest30: #9ED29E,
	forest20: #BDE0BD,
	forest10: #DAEADA,

	blue100: #01273E,
	blue90: #00395C,
	blue80: #014A78,
	blue70: #016CAF,
	blue60: #0688D9,
	blue50: #329ADB,
	blue40: #50A9E0,
	blue30: #8CC4E2, /* water */
	blue20: #C6E4F5,
	blue10: #DBF2FF,

	cyan100: #003136,
	cyan90: #055258,
	cyan80: #076E76,
	cyan70: #0A8A93,
	cyan60: #0EA8B3,
	cyan50: #06C7D9,
	cyan40: #26D8E8,
	cyan30: #7EE6EF,
	cyan20: #B7EFF5,
	cyan10: #DAF4F6,

	purple100: #3A043D,
	purple90: #500553,
	purple80: #660D6A,
	purple70: #78147D,
	purple60: #922097,
	purple50: #A247A6,
	purple40: #B75FBB,
	purple30: #CA82CD,
	purple20: #E3ACE5,
	purple10: #F4DCF5,

	pink100: #4C022C,
	pink90: #6F0642,
	pink80: #950B5A,
	pink70: #BF1073,
	pink60: #DC1586,
	pink50: #E3449E,
	pink40: #EC6EB5,
	pink30: #E79BC6,
	pink20: #F8BDDF,
	pink10: #FFE5F5,

	brown100: #2B1B01,
	brown90: #472D01,
	brown80: #6A4200,
	brown70: #876831,
	brown60: #AC8643,
	brown50: #C5A13B,
	brown40: #DCBD64,
	brown30: #E3CE92,
	brown20: #E7DFB3,
	brown10: #EEEAD4
);

@each $value in $bui-c {
	.bui-c-#{nth($value, 1)} {
		background-color: nth($value, 2);
	}
}

@function bui-c($color) {
	@return map-get($bui-c, $color);
}

//background-color: bui-c(pink30);


/* TO DELETE VARIBLES BELOW */

$c-ground-grass: bui-c(forest40);
$c-ground-space: bui-c(black);
$c-ground-snow: bui-c(cyan10);
$c-ground-water: bui-c(blue30);
$c-ground-sand: bui-c(brown30);
$c-ground-dirt: bui-c(brown60);
$c-ground-ice: bui-c(cyan20);

$white: #fff;
$black: #000;
$grass-green: #36ac2a;
$snow-white: #f5fdff;
$sand: #d9cfa2;