/* INVENTORY */

.sticky-inventory {
  position: fixed;
  width: 800px;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 5px 0 5px;

  /*border-bottom: solid 1px #ddd */
}

.the-fucking-inventory {
  color: white;
  margin: 3px auto;
  background-color: transparent;
}

.the-fucking-inventory-collapsed {
  max-height: 0px;
  overflow: hidden;
}

.the-fucking-inventory > div,
.the-fucking-crafting-table > div,
.the-fucking-crafted-item > div {
  padding-top: 10px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  vertical-align: top;
}

.the-fucking-inventory > div:first-child,
.the-fucking-inventory > div:nth-child(2),
.the-fucking-inventory > div:nth-child(3),
.the-fucking-inventory > div:nth-child(4),
.the-fucking-inventory > div:nth-child(5) {
  box-shadow: 0px 0px 0px 2px #000;
  background-color: #000;
}

.the-fucking-inventory > div:first-child::before {
  content: "a";
  position: absolute;
  
}

.the-fucking-inventory > .empty,
.the-fucking-crafting-table > .empty,
.the-fucking-crafted-item > .empty {
  cursor: default;
  background-color: transparent;
  color: transparent;
}

.the-fucking-inventory > div {
  border: solid 2px transparent;
  float: left;
  width: 28px !important;
  padding-top: 24px;
  color: #999;
  background-color: transparent;
  margin-bottom: 15px;
  margin-right: 3px;
  font-family: "Press Start 2P", helvetica, verdana;
  font-size: 8px;
  line-height: 1.8;
}

.the-fucking-inventory > div:hover {
  border: dashed 2px #000;
}

.the-fucking-inventory .empty {
  display: none;
}

.the-fucking-inventory .selected-item {
  border: dashed 2px #000;
}

.header-inventory {
  margin-top: 16px;

  .block {
    display: inline-block;
    float: none;
    width: 40px;
    height: 40px;
    border: solid 3px #000;
    padding: 4px;
  }
}

/* THE CRAFTING TABLE */

.crafting-table-wrap {
  display: flex;

  .the-fucking-crafting-table {
    display: inline-block;
    color: white;
    margin-right: 5px;
    border: solid 2px black;
  }

  .the-fucking-crafted-item {
    display: inline-block;
    color: white;
    border: solid 2px black;
    margin-left: 50px;

    .slot {
      &:before {
        content: "=";
        display: inline-block;
        font-family: "Press Start 2P", helvetica, verdana;
        font-size: 24px;
        color: #000;
        position: absolute;
        left: -55px;
        top: 5px;
      }
    }
  }

  .the-fucking-crafting-table > div,
  .the-fucking-crafted-item > div {
    position: relative;
    width: 40px;
    height: 40px;
    background-size: contain !important;
    margin: 8px;
    background-color: #fff;
    color: #fff;
    font-size: 16px;
    padding-top: 8px;
    font-family: "Press Start 2P", helvetica, verdana;

    &.empty {
      background-color: #696969;
      color: transparent;
    }
  }

  .the-fucking-crafting-table > .slot-1 {
    border-right: 0px;
    margin-bottom: 0px;
    margin-right: 40px;

    &:after {
      content: "+";
      display: inline-block;
      font-family: "Press Start 2P", helvetica, verdana;
      font-size: 24px;
      color: #fff;
      position: absolute;
      left: 52px;
      top: 5px;
    }
  }

  .the-fucking-crafting-table > .slot-2 {
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 0px;
    margin-right: 40px;

    &:after {
      content: "+";
      display: inline-block;
      font-family: "Press Start 2P", helvetica, verdana;
      font-size: 24px;
      color: #fff;
      position: absolute;
      left: 52px;
      top: 5px;
    }
  }

  .the-fucking-crafting-table > .slot-3 {
    border-left: 0px;
  }
}