@import "variables";

/* THE PLAYER */

.the-fucking-player {
  width: $gridunitpx;
  height: $gridunitpx;
  position: relative;
  left: $gridunitpx * 4;
  top: $gridunitpx * 4;
  background-size: contain !important;
}
