$gridunitpx: 20px

$mapWidthBlocks: 30
$mapHeightBlocks: 30

$mapWidthPX: $mapWidthBlocks * $gridunitpx
$mapHeightPX: $mapHeightBlocks * $gridunitpx
$mapHalfWidthPX: $mapWidthPX / 2
$mapPerspectivePX: $mapWidthPX - 100

$mapMobileWidthBlocks: 16
$mapMobileHeightBlocks: 16
$mapMobileWidthPX: $mapMobileWidthBlocks * $gridunitpx
$mapMobileHeightPX: $mapMobileHeightBlocks * $gridunitpx
$mapMobileHalfWidthPX: $mapMobileWidthPX / 2
$mapMobilePerspectivePX: $mapMobileWidthPX - 100

$white: #fff
$black: #000
$grass-green: #36ac2a
$snow-white: #f5fdff
$sand: #d9cfa2

$blockFont: "Beaudryland", "Press Start 2P", Helvetica, Verdana;