$gridunitpx: 20px;

$mapWidthBlocks: 20;
$mapHeightBlocks: 20;

$mapWidthPX: $mapWidthBlocks * $gridunitpx;
$mapHeightPX: $mapHeightBlocks * $gridunitpx;
$mapHalfWidthPX: $mapWidthPX / 2;
$mapPerspectivePX: $mapWidthPX - 100;

$mapMobileWidthBlocks: 20;
$mapMobileHeightBlocks: 20;
$mapMobileWidthPX: $mapMobileWidthBlocks * $gridunitpx;
$mapMobileHeightPX: $mapMobileHeightBlocks * $gridunitpx;
$mapMobileHalfWidthPX: $mapMobileWidthPX / 2;
$mapMobilePerspectivePX: $mapMobileWidthPX - 100;

$blockFont: "Beaudryland", "Press Start 2P", Helvetica, Verdana;

$buiShadow: 4px 4px 0 #000;